{% extends 'base.html' %}
{% block content %}
    <div align="center">
        {% for post in post_list %}
            <article class="post post-4" style="height: 300px;">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <a href="/blog/detail/?post={{ post.id }}">{{ post.title }}</a>
                    </h1>
                    <div class="entry-meta">
                        <span class="post-category"><a href="#">{{ post.category }}</a></span>
                        <span class="post-date"><a href="#"><time class="entry-date"
                                                                  datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                        <span class="post-author"><a href="#">{{ post.user }}</a></span>
                        <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                        <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p>{{ post.excerpt }}...</p>
                    <div class="read-more cl-effect-14">
                        <a href="/blog/detail/?post={{ post.id }}" class="more-link">继续阅读 <span
                                class="meta-nav">→</span></a>
                    </div>
                </div>
            </article>
        {% endfor %}
        <div class="pagination">
            {% if paginator %}

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page_n in page_num %}
                            <li><a href="/blog/index/?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>

    </div>

{% endblock %}