{% extends 'base.html' %}


{#meta#}
{% block meta %}
    {{ block.super }}

{% endblock %}


{#title#}
{% block title %}
    <title>注册 - 博客笔记</title>
{% endblock %}


{#css#}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="flex-center">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">


                    {% if error_msg %}
                        {{ error_msg }}
                    {% endif %}
                    <form class="form" action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for error in userInfoForm.errors %}
                            {{ error }}
                        {% endfor %}
                        {% for field in userInfoForm %}
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                            {{ field.help_text | safe }}
                            {#                        {% if field.help_text %}#}
                            {#                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>#}
                            {#                        {% endif %}#}
                        {% endfor %}
                        <h1><a href="{% url 'password_change' %}">修改密码</a></h1>
                        <button type="submit" class="btn btn-primary btn-block">提交信息</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}